/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

/* CATEGORIES */
.categories {
    display: flex;
    gap: 12px;
}

.category-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.category-btn:hover {
    background-color: #000;
    color: #fff;
}

.category-btn.active {
    background-color: #007bff;
    color: white;
}

/* CARDS */
.card {
    overflow: hidden;
    transition: transform 0.2s ease;
}

.card:hover {
    box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

/* IMAGE */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* LOADER */
#loader {
    display: none;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}